<% provide(:title, "Login")%>
<h2 class="title">Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <label class="label"<%= f.label :email %></label>
    <input class="input"<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label class="label"<%= f.label :password %></label>
    <input class="input"<%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="columns">
    <div class="column">
      <button class="button is-primary" type="submit">Sign in</button>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
