<% provide(:title, "Categories")%>


<h1 class="title has-text-centered">Categories</h1>
<div class="tabs is-centered">
  <ul>
  <li class="<%= 'is-active 'if params[:category] == 'All' %> tablinks" onclick="openTab(event, 'All')">
    <a>All</a>
  </li>
  <% @categories.each do |category| %>
  <li class="tablinks <%= 'is-active 'if params[:category] == category.name %>" onclick="openTab(event, '<%= category.name %>' )">
  <a>
    <%= category.name %>
  </a>
  </li>
  <% end %>
  </ul>
</div>
<%= render 'categories/items' %>
</div>


<script type="text/javascript"> 

var category = '<%= params[:category] %>'
var search = '<%= params[:search] %>'
var tabcontent
var displayitems

if( document.readyState !== 'loading' ) {
    myInitCode();
} else {
    document.addEventListener('DOMContentLoaded', function () {
        myInitCode();
    });
}

function myInitCode() {
  tabcontent = document.getElementsByClassName('tabcontent');
  displayitems = document.getElementsByClassName('displayitem');

if(category === 'All'){
    for (i=0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'block';
    }
  } else{
    for (i=0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'none';
      document.getElementById(category).style.display = 'block';
    }
  }
  tablinks = document.getElementsByClassName('tablinks');
  for (i=0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace('is-active', '');
  }
  displayItems();

}

function openTab(event, tabId) {
  if(tabId === 'All'){
    for (i=0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'block';
    }
  } else{
    for (i=0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = 'none';
      document.getElementById(tabId).style.display = 'block';
    }
  }
  tablinks = document.getElementsByClassName('tablinks');
  for (i=0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace('is-active', '');
  } 
  event.currentTarget.className += "is-active";
  displayItems();
}

function displayItems() {
  Array.from(displayitems).forEach(element => {
    if(element.childNodes[1].childNodes[1].innerText.toLowerCase().includes('<%= params[:search ]%>'.toLowerCase())) {
      element.style.display = 'block'
    } else {
      element.style.display = 'none'
    }
  })

}
</script>

