<h1 class="title text">Shopping Cart</h1>
<% @shopping_cart << @product %>
<% if @shopping_cart.length == 0  %>
  <p>Your Shopping Cart is empty</p>
  <% else %>
    <% @shopping_cart.each do |product| %>
      <div class="displayitem column">
      <header class="card-header">
        <p class="card-header-title text has-text-centered">
          <%= product.name %>
        </p>
      </header>
      <figure class="image">
        <img src="http://lorempixel.com/200/200" style="max-width:400px;max-height:400px;position:relative;margin-left:auto;margin-right:auto;" alt="Placeholder image">
      </figure>
      <div class="card-content">
        <div class="content">
          <%= product.description %>
        </div>
      </div>
      <footer class="card-footer">
        <li class="card-footer-item"><%= product.price %></li>
        <li class="card-footer-item"> <%= product.rating %></li>
        <li class="card-footer-item"><%=  product.categories[0].name %></li>
      </footer>
    </div>
  <% end %>
  <button class="button is-success"><%= link_to("Buy Now", destroy_path(id: @product.id)) %></button>
<% end %>
