<% provide(:title, "Home")%>
<% provide(:background, image_tag("shopping_cart.png", class: "background-image")) %>
<%= render 'layouts/searchbar' %>
 <div class="card-pos card columns is-variable">
<% @products.sample(9).each do |product| %>
<%= link_to show_product_path(product) do %>
  <div class="displayitem column">
    <header class="card-header">
      <p class="card-header-title text has-text-centered">
        <%= product.name %>
      </p>
    </header>
    <figure class="image">
      <div style="max-width:400px; max-height:400px;">
      <% if product.product_image.attached? %>
        <%= image_tag(product.product_image, style:"width:100%; height: 100%;")  %>
      <% else %>
        <img src="http://lorempixel.com/200/200" alt="Placeholder image">
      <% end%>
    </div>
    </figure>
    <div class="card-content">
      <div class="content">
        <%= product.description %>
      </div>
    </div>
    <footer class="card-footer">
      <li class="card-footer-item"><%= product.price %></li>
      <li class="card-footer-item"> <%= product.rating %></li>
      <li class="card-footer-item"><%=  product.categories[0].name, class: 'item-color' %></li>
    </footer>
    </div>
    <% end %>
<% end %>
</div>
