<h1>Your Listed Items</h1>
<%= current_user.products.each do |product| %>
  <div class="displayitem column">
    <header class="card-header">
      <p class="card-header-title text has-text-centered">
        <%= product.name %>
      </p>
    </header>
    <figure class="image">
      <img src="http://lorempixel.com/200/200" alt="Placeholder image">
    </figure>
    <div class="card-content">
      <div class="content">
        <%= product.description %>
      </div>
    </div>
    <footer class="card-footer">
      <li class="card-footer-item"><%= product.price %></li>
      <li class="card-footer-item"> <%= product.rating %></li>
      <li class="card-footer-item"><%=  category_helper(product)%></li>
    </footer>
    </div>
<% end %>