    
<script type="text/javascript">
  var button =  document.getElementsByTagName('delete');
  var modal =  document.getElementsByClass('modal');
  function hideModal() {
    modal.style.display: 'none';
  }
</script>
    <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><% @product.name %></p>
        <button onclick="hideModal()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <h1 class="title has-text-centered"><%= @product.name %></h1>
          <div style="max-width:400px; max-height:400px;">
          <% if product.product_image.attached? %>
            <%= image_tag(product.product_image, style:"width:100%; height: 100%;")  %>
          <% else %>
            <img src="http://lorempixel.com/200/200" alt="Placeholder image">
          <% end%>
          </div>
        <br>
        <p class="text has-text-centered"><%= @product.description %></p>
        <footer class="card-footer">
        <li class="card-footer-item"><%= @product.price %></li>
        <li class="card-footer-item"> <%= @product.rating %></li>
        <li class="card-footer-item"><%=  @product.categories[0].name %></li>
      </section>
      <footer class="modal-card-foot">
      <% if user_signed_in? %>
        <button class="button is-success is-outlined"><%= link_to "Add to Cart", cart_path(id: @product.id) %></button>
      <% else %>
        <p>Please login to continue</p>
      <% end %>
        <button class="button is-info is-outlined"><%= link_to "Cancel", root_path %></button>
      </footer>
    </div>
    </div>
  </button>

