<nav class="navbar is-black" role="navigation" aria-label="main navigation">
<div class="navbar-menu ">
  <li class="navbar-item"><%= link_to('Home', root_path) %></li>
  <li class="navbar-item"><%= link_to('About', about_path) %></li>
  <li class="navbar-item"><%= link_to('Contact', contact_path) %></li>
    <div class="navbar-item has-dropdown is-hoverable">
    <li class="navbar-item"><%= link_to('Categories', categories_path, class: "navbar-link") %></li>
    <div class="navbar-dropdown">
    <% Category.all.each do |category| %>
      <%= link_to(category.name, "#", class: "navbar-item") %>
    <% end %>
  </div>
  </div>
</div>
<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
    <% if user_signed_in? %>
      <li class="button is-primary"><%= link_to('Profile', profile_path ) %></li>
      <li class="button is-light"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
    <% else %>
      <li class="button is-primary"><%= link_to('Login', new_user_session_path) %></li>
      <li class="button is-light"><%= link_to('Sign Up', new_user_registration_path) %></li>
    <% end %>
    </div>
  </div>
</div>
</nav>
