<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<h1 class="title has-text-centered">Edit <%= resource_name.to_s.humanize %></h1>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label"><%= f.label :name %><br /></label>
    <div class="control has-icons-left has-icons-right">
    <input class="input"<%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= f.label :email %><br /></label>
    <div class="control has-icons-left has-icons-right">
    <input class="input" <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <label class="label"><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /></label>
    <input class="input"<%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password_confirmation %><br /></label>
    <input class="input"<%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /></label>
    <input class="input"<%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <div class="columns">
    <div class="column">
      <button class="button is-primary" type="submit">Update</button>
      <%= link_to "Back", :back, class: "button is-link is-light" %>
    </div>
  </div>
<% end %>
